proxy=http://web-proxy.corp.hpecorp.net:8080/
https-proxy=http://web-proxy.corp.hpecorp.net:8080/
registry=http://shc-nexus-repo.hpeswlab.net:8080/repository/npm-group/
email=dev@dev.com
_auth=ZGV2OmRldg==
always-auth=true
strict-ssl=false
