div.parent {
  height: 39px;
  position: relative;
}

div span.alignParentBottom {
  position: absolute;
  bottom: 0px;
}

div span.picon::before {
  display: block;
  color: red;
  position: absolute;
  bottom: 0px;
}

span.dontMatch {
  margin-left: 30px;
  line-height: 18px;
}



